@tailwind base;

@tailwind components;

@tailwind utilities;

.question-swipe-enter {
  opacity: 0.5;
}
.question-swipe-enter-active {
  opacity: 0;
  transition: opacity 500ms;
}
.question-swipe-exit {
  opacity: 0.3;
}
.question-swipe-exit-active {
  opacity: 1;
  transition: opacity 500ms;
}


/* experimental */
.as-range {
  background-color: transparent;
  height: 10rem;
  width: 10rem;
  transform: rotate(270deg);
}
.as-range::-webkit-slider-runnable-track {
  height: 14px;
  cursor: pointer;
  box-shadow: none;
  background: #b2f5ea;
  border-radius: 10px;
  border: 0px solid #010101;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.3);
}
.as-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: -5px 3px 7px rgba(0,0,0,0.25);
  height: 50px;
  width: 22px;
  border-radius: 22px;
  background: #a0aec0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18px;
}
